<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
      <div style = "margin-left: 20px; margin-right:  10px; margin-top: 25px;">
          <h2>Error while processing data!</h2>
    <p>
      Sorry. Your data may be of incorrect format, or contains space/null value. Please make sure you
      have uploaded an excel (.xlsx) file having the same format as this
      <a href="../static/example.xlsx"
              download="example.xlsx">sample file</a>, delete all space and replace null value with 0.
    </p>
    <i>*Tip: Redundant space may appear below the rows containing data. Copy only the data rows to the new excel file and submit again.</i>
    <h4><a href = "index.html">Return to home page</a></h4>
    <p>If you believe this is an error, please contact us via:</p>
    <div style = "margin-left: 20px; margin-top: 20px;">
        <p><b>Email:</b> <div>eos@ntu.edu.sg</div></p>
    <p>
      <b>
          Physical & Mailing Address:
      </b>
      <p>
          <div>
               Earth Observatory of Singapore (EOS)
          </div>
         
          <div>Nanyang
      Technological University</div>
      <div> 50 Nanyang Avenue, Block N2-01a-15,</div>
          <div>Singapore
      639798</div>
      </p>
    </div>
    <a href = "index.html">
       <div style="display: flex;justify-content: center;">
            <img src="../static/EOS.png" width="300">
        </div>
        </a>
    </p>
      </div>
    
  </body>
</html>
